.idea
target
src/main/resources/data/docs/*
src/main/resources/data/words/*
src/main/resources/data/terms_freq/*
src/main/resources/data/titles/*
!src/main/resources/data/docs/.keep
!src/main/resources/data/words/.keep
!src/main/resources/data/terms_freq/.keep
!src/main/resources/data/titles/.keep
# Ignore Mac and Linux file system files
*.swp
.DS_Store